<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> <%= title %> </title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    
    <main>
        <div class="left">
            <h2> Title: <%= book[0].title %> </h2>
        </div>
        <div class="right">
            <h2> Summary: <%= book[0].summary %> </h2>
        </div>
    </main>


</body>
</html>