<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Entry</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <main>
        <h1>Book input</h1>

        <form action="/book" method="POST">
            <label for="title">Book Tile:</label>
            <input type="text" name="title">
            <br>
            <label for="summary"> Summary:</label>
            <textarea name="summary"> </textarea>
            <br>
            <button type="submit"> Submit </button>
        </form>
</main>
</body>
</html>